.bg-shop {
    background-color: #733C87;
    background-image: url("./Shop_BannerImg.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height:300px;
}

.bg-community {
    background-image: url("../Community/CommunityBackdrop.png");
}

.unbounded {
    font-family: Unbounded;
}

.product {
    /* cursor: pointer; */
    transition: all ease-in-out 0.2s;
}

.product:hover {
    box-shadow: 0 3px 10px rgba(224, 224, 224, 0.8);
    border: 1.5px solid black;
}

.badge {
    padding: 6px 8px 6px 8px;
    border-radius: 30px;
    font-weight: 500;
}

.vision {
    background-color: #FFD3AA;
    color: #6F4621;
}

.allergy {
    background-color: #AAFFC2;
    color: #0F5323;
}

.skin {
    background-color: #EEBFFF;
    color: #4A105F;
}

.hearing {
    background-color: #9BCFFF;
    color: #244F77;
}

.cog {
    background-color: #6A7122;
    color: #F7FF9B;
}

.mobility {
    background-color: #FFAAAA;
    color: #852A2A;
}

/* .usercard {
    border: 1.5px solid #b4b4b4;
} */

.stickpad {
    position: sticky;
    top: 20px;
    z-index: 20;
}

#module #collapseExample.collapse:not(.show) {
    display: block;
    height: 3rem;
    overflow: hidden;
  }
  
  #module #collapseExample.collapsing {
    height: 3rem;
  }

  #module a.collapsed:after  {
    content: '+ Show More';
}

#module a:not(.collapsed):after {
    content: '- Show Less';
}

/* Jordan Example */
#modulejordan #collapseExamplejordan.collapse:not(.show) {
    display: block;
    height: 3rem;
    overflow: hidden;
  }
  
  #modulejordan #collapseExamplejordan.collapsing {
    height: 3rem;
  }

  #modulejordan a.collapsed:after  {
    content: '+ Show More';
}

#modulejordan a:not(.collapsed):after {
    content: '- Show Less';
}

.itemheight {
    height: 100%;
}