.avatar {
    width: 24px;
    height: 24px;
    border: 1.5px solid white;
}

.avatar-md {
    width: 36px;
    height: 36px;
}

.avatar-lg {
    width: 48px;
    height: 48px;
}
.title {
    font-family: 'Unbounded', sans-serif;
}